.footer{
    background-color: black;
    padding: 25px 30px;
    overflow: hidden;
        
}
.footer h1, .footer a {
    margin-bottom: 0; /* Remove default margin for h1 and a tags */
}
.footer .row {
    
    display: flex;
    justify-content: space-around; /* Adjust this value as needed */
    align-items: center;
}
.footer .col-lg-2,
.footer .col-lg-3 {
        flex: 1; /* Equal width for all columns */
    }
/*.row{
    margin: 0 10px; 
}*/
h1{
    color: white;
    font-size: 15px;
}
a{
    color: white;
    text-decoration: none;
    padding: 5px 5px;
}
p{
    color: white;
}