<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="container">
      <div class="card mb-3" style="max-width: 860px;">
       
        <div >
          
        </div>
        
          <div class="card-body">
            <h5 >ACERCA DE FERRETERIAS EXPRESS</h5>
            <p >Somos una empresa dedicada a la venta de artículos de ferretería, pintura, plomería, electricidad y hogar, ubicada en Hejutla,Hidalgo.</p>
            <p>Contamos con 35 años de experiencia comercializando productos de excelente calidad para todo tipo de trabajo, todos los materiales cuentan con garantía de durabilidad, resistencia y seguridad.</p>
            <p>En FERRETERÍA Express brindamos nuestros productos en todo Huejutla, con servicio a domicilio dentro de un rango de 8 km a la redonda, sin ningún costo adicional.</p>
            <p>Nuestro personal está capacitado y calificado para ayudarte con cualquier duda y pedido.</p>  
          </div>
        
      </div>
    </div>
  
  </header>
  
