<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <div class="container">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <img src="assets/imagen/producto/pinza.jpg" class="img-fluid" >
              <div class="about-icon-box-content"></div>
              <h4>Pinza corte</h4>
              <p class="content">$120</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <img src="assets/imagen/producto/martillo.png" class="img-fluid" >
              <div class="about-icon-box-content"></div>
              <h4>Martillo</h4>
              <p class="content">$200</p>
            </div>
          </div>
            <div class="card">
              <div class="card-body">  
                <img src="assets/imagen/producto/desarmador-cruz.png" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Desarmador cruz</h4>
                <p class="content">$70</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/desarmador-plano.png" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Desarmador plano</h4>
                <p class="content">$70</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/juego-desarmado.jpg" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Juego desarmador</h4>
                <p class="content">$220</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/llave.jpg" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Llave Stillson</h4>
                <p class="content">$300</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">    
                <img src="assets/imagen/producto/herramientas.jpg" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Herramientas</h4>
                <p class="content">$1300</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/mazo.jpg" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Mazo</h4>
                <p class="content">$140</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/llave-allen.jpg" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Llave allen</h4>
                <p class="content">$130</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/llave-ajustable.jpg" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Llave ajustable</h4>
                <p class="content">$120</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/llave-combinada.png" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Llave combinada</h4>
                <p class="content">$100</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/pinza-punta.jpg" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Pinza de punta</h4>
                <p class="content">$60</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/pinza-1.jpg" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Pinza electricista</h4>
                <p class="content">$60</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/contacto.jpg" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Contacto</h4>
                <p class="content">$12</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/cable.jpg" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Cable metro</h4>
                <p class="content">$8</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img src="assets/imagen/producto/foco.jpg" class="img-fluid" >
                <div class="about-icon-box-content"></div>
                <h4>Foco</h4>
                <p class="content">$60</p>
              </div>
            </div>
          </div>
        </div>
  </header>
        
  
  